In [1]:
import pandas as pd

# Create a simple dataframe
data = {"Name": ["Alice", "Bob", "Charlie"],
        "Age": [24, 27, 22]}

df = pd.DataFrame(data)

df

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22